<div class="mt-4">
  <div>
  <h2>My Blog</h2>
  <a href="/me/trash/blogs">Deleted Recently ({{deletedCount}})</a>
  </div>

  <div class="mt-4 d-flex align-items-center">
    <div class="form-check">
      <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
      <label class="form-check-label" for="firstCheckbox">Select all</label>
    </div>
    <select class="form-select form-select-sm checkbox-select-all-options" aria-label="Small select example" id="">
      <option selected>-- Choose actions --</option>
      <option value="delete">Delete</option>
</select>

  <button class="btn btn-primary btn-sm disabled">Apply</button>
  </div>

  <table class="table table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Blog name</th>
        <th scope="col">Author</th>
        <th scope="col" colspan="2">Create at</th>
      </tr>
    </thead>
    <tbody>
      {{#each blogs}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.author}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/blogs/{{this._id}}/edit" class="btn btn-link">Edit</a>
          <a href="" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-blog-modal">Delete</a>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          You do not have any blogs.
          <a href="/blogs/create">Upload a blog</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Confirm delete -->
<div class="modal fade" id="delete-blog-modal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete this blog?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirm to delete this blog?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="btn-delete-blog" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-blog-form" method="POST"></form>

<script>
  const deleteBlogModal = document.getElementById('delete-blog-modal');
  var blogId;
  const btnDeleteBlog = document.getElementById('btn-delete-blog');
  var deleteForm = document.forms['delete-blog-form']
  // When dialog confirm clicked
  if (deleteBlogModal) {
    deleteBlogModal.addEventListener('show.bs.modal', (event) => {
      const button = event.relatedTarget;
      blogId = button.getAttribute('data-id'); 
    });
  // When delete blog button clicked
      btnDeleteBlog.onclick = () => {
        deleteForm.action = '/blogs/' + blogId + '?_method=DELETE'
        deleteForm.submit()
      }
    };
</script>


