<div class="mt-4">
  <h2>My Blog</h2>
  <table class="table table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Blog name</th>
        <th scope="col">Author</th>
        <th scope="col" colspan="2">Create at</th>
      </tr>
    </thead>
    <tbody>
      {{#each blogs}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.author}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/blogs/{{this._id}}/edit" class="btn btn-link">Edit</a>
          <a href="" class="btn btn-link">Delete</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>