<div class="mt-4">
  <div>
  <h2>Deleted Blogs</h2>
  <a href="/me/stored/blogs">Return</a>
  </div> 
  <table class="table table-hover mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Blog name</th>
        <th scope="col">Author</th>
        <th scope="col" colspan="2">Create at</th>
      </tr>
    </thead>
    <tbody>
      {{#each blogs}}
      <tr>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td>{{this.author}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <button type="button" class="btn btn-link btn-restore" data-id="{{this._id}}">Restore</button>                  
          <button type="button" class="btn btn-link" data-bs-toggle="modal" data-id="{{this._id}}" data-bs-target="#delete-blog-modal">Delete permanent</button>
        </td>
      </tr>
      {{else}}
      <tr>
        <td colspan="5" class="text-center">
          Empty list.
          <a href="/me/stored/blogs">Blogs list</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<!-- Confirm delete -->
<div class="modal fade" id="delete-blog-modal" tabindex="-1" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Delete this blog?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Confirm to delete this blog?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button id="btn-delete-blog" type="button" class="btn btn-primary">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- Delete hidden form --}}
<form name="delete-blog-form" method="POST"></form>
<form name="restore-blog-form" method="POST"></form>

<script>
  let blogId;
  var deleteForm = document.forms['delete-blog-form']
  var restoreForm = document.forms['restore-blog-form']

  // When dialog confirm clicked
  const deleteBlogModal = document.getElementById('delete-blog-modal');
  if (deleteBlogModal) {
    deleteBlogModal.addEventListener('show.bs.modal', (event) => {
      const button = event.relatedTarget;
      blogId = button.getAttribute('data-id'); 
    });
  // When delete blog button clicked
  const btnDeleteBlog = document.getElementById('btn-delete-blog');
      btnDeleteBlog.onclick = () => {
        deleteForm.action = '/blogs/' + blogId + '/force?_method=DELETE'
        deleteForm.submit()
      }
  // when restore btn clicked
    document.addEventListener('click', (e) => {
  const restoreBtn = e.target.closest('.btn-restore');
  if (!restoreBtn) return;

  e.preventDefault();
  const id = restoreBtn.dataset.id;

  if (!id) {
    console.error('Restore ID missing');
    return;
  }

  restoreForm.action = `/blogs/${id}/restore?_method=PATCH`;
  restoreForm.submit();
});
  }
</script>


